
<div class="row">
  <div class="col-md-2">
     <div class="form-group">
        <button id="open-new-thread" class="btn btn-primary btn-block-xs-only" data-toggle ="collapse" data-target="#newthread">New Thread</button>
      </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <div class="input-group">
        <input type="text" placeholder="Search forums" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="height:34px !important; margin-top: -5px;">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
 <div class="padding"></div>
  <div class="row collapse" id="newthread">
    <div class="col-xs-12">

        <div class="form-group">
          <input id="new-thread-title" class="form-control" type="text" placeholder="Enter Title text for thread...">
        </div>
        <div class="form-group">
          <input id="new-thread-categories" class="form-control" type="text" placeholder="Enter Categories (Tags)">
        </div>
       <div class="form-group text-right">
          <div class="btn-group btn-group-xs">
            <button id="create-thread" class="btn btn-primary">Save</button>
            <button data-toggle="collapse" data-target="#newthread" class="btn btn-danger">Cancel</button>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 hidden-sm hidden-xs">Threads</div>
  <div class="col-md-1 hidden-sm hidden-xs">Replies</div>
  <div class="col-md-1 hidden-sm hidden-xs">Activity</div>
</div>
<hr>


{% macro render_thread(thread, rowindex) %}
<div class="row">
  <div class="col-md-10">
    <h4><a href="/thread1?thread={{ thread.thread_title }}">{{ thread.thread_title }}</a></h4>
    <ul class="list-inline">
      <li class="list-inline-item">
        <div class="label label-info">FIPS</div>
      </li>
      <li class="list-inline-item">
        <div class="label label-info">FIPS 140</div>
      </li>
    </ul>
  </div>
  <div class="col-md-1 col-xs-6">
    <div class="hidden-md hidden-lg">
      <strong>Replies</strong>
    </div>
    <div>{{ thread.post_count }}</div>
  </div>
  <div class="col-md-1 col-xs-6 text-right">
    <div class="hidden-md hidden-lg">
      <strong>Activity</strong>
    </div>
    <div>{{ "3H" }}</div>
  </div>
</div>
<hr>
{% endmacro %}

<div id="threads-parent">
  <div id="threads">
    {% set threadindex = 0 %}
    {% for thread in threads %}
        {% set threadindex = threadindex + 1 %}
        {{ render_thread(thread, threadindex) }}
    {% endfor %}
    {% if not threads %}
      <br>
      <div class="text-center text-muted">
        <h4>No Threads have been added yet.</h4>
        <i class="mega-octicon octicon-telescope"></i>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">


frappe.ready(function() {

 /*   function get_categories_and_init_selectize(inputcontrolname, locked=false, init_value=null) {
      frappe.call({
        method: "acumen_erpnext.www.acumen_forums.get_forum_categories",
        callback: function(r){
          if(!r.exc) {
            s = $(inputcontrolname).selectize({
              plugins: ['remove_button'],
              delimiter: '+',
              persist: false,
              create: false,
              options: r.message
            });

            if (locked) { s[0].selectize.lock(); }

            if (init_value) { s[0].selectize.setValue(init_value) }

          } else {
            frappe.msgprint(__("Categories could not be fetched.<br /> " + r.exc));
          }
        }
      });
    }

*/

    //Initialize selectize for filter textbox.
    //    get_categories_and_init_selectize('#filters-selectize');
      /*categories_from_url = mnt.get_url_param('categories');
      get_categories_and_init_selectize('#filters-selectize', false, categories_from_url);*/


    // function wireup_selectize_thread_categories() {
    //     //Initialize selectize for Categories input in every thread.
    //   $('[id$="input-categories"]').each(function(){
    //     get_categories_and_init_selectize('#' + $(this).attr('id'), true);
    //   });
    // }

    // wireup_selectize_thread_categories();




     //Add selectize to Thread Categories textbox.
  /*  $('.page_content').on('click', '#open-new-thread', function() {
       get_categories_and_init_selectize('#new-thread-categories');
    });*/

    //Handler for Create Thread button
    $('#create-thread').click(function(event) {
        var title = $('#new-thread-title')
        var categories = $('#new-thread-categories')
        frappe.call({
            method: "discuit.www.threads.create_thread",
            args: {
                    "thread_title": title.val(),
                    "thread_categories": categories.val(),
            },
            freeze: true,
            freeze_message: __("Creating thread..."),
            callback: function(r){
            if(!r.exc) {
              title.val("");
              // mnt.refresh_page_element('#threads-parent #threads', 1, undefined);
              // mnt.refresh_page_element('#threads', 0, undefined);
              // mnt.refresh_page_element('#threads-parent #threads', 0, undefined);
              // mnt.refresh_page_element('#threads-parent #threads', 1, undefined);
              // mnt.refresh_page_element('#threads-parent #threads', 1, undefined);

              mnt.refresh_page_element('#threads-parent #threads', 1, undefined);

              // $('#threads-outer #threads').fadeOut();
              // $('#threads-outer #threads').parent().load(document.URL + '#threads-outer #threads', function(){
              //   $('#threads-outer #threads').fadeIn();
              // });
              mnt.show_alert('Thread added');
            } else {
              frappe.msgprint(__("Thread was not created. <br /> " + r.exc));
            }
          }
        });
    });

    // //$('button[data-role="edit-thread"]').click(function(event) {
    // $('#threads-parent').on('click', '[id$="edit-thread"]', function() {
    //   var threadname = $(this).attr('data-thread-key'); //Get context of Thread.

    //   //frappe.msgprint(threadname);
    //   var span_thread_text = $('#' + threadname + '-text');
    //   var input_thread_text = $('#' + threadname + '-input-text');
    //   var input_thread_categories = $('#' + threadname + '-input-categories');
    //   var div_thread_categories = $('#' + threadname + '-categories');

    //   span_thread_text.addClass("hide");
    //   input_thread_text.removeClass("hide");
    //   div_thread_categories.addClass("hide");
    //   input_thread_categories.parent().removeClass('hide')

    //   //Set values in Selectize input from labels.
    //   label_categories = [];
    //   $('div[id="' + threadname + '-categories"] span').each(function () {
    //     var slug = $(this).attr('data-slug');
    //     label_categories.push(slug);
    //   });

    //   get_categories_and_init_selectize('#' + input_thread_categories.attr("id"), false, label_categories);
    //   //input_thread_categories[0].selectize.unlock();

    //   //input_thread_categories[0].selectize.setValue(value_selectize);

    //   input_thread_categories.parent().removeClass('hide');

    //   toggle_buttons_edit_thread(threadname, 1);

    // });

    // //$('button[data-role="edit-thread"]').click(function(event) {
    // $('#threads-parent').on('click', '[id$="save-thread"]', function() {
    //   var threadname = $(this).attr('data-thread-key'); //Get context of Thread.
    //   var span_thread_text = $('#' + threadname + '-text');
    //   var input_thread_text = $('#' + threadname + '-input-text');
    //   var input_thread_categories = $('#' + threadname + '-input-categories');
    //   var div_thread_categories = $('#' + threadname + '-categories');

    //   frappe.call({
    //       method: "acumen_erpnext.www.acumen_forums.update_thread",
    //       args: {
    //               "thread_id": threadname,
    //               "thread_title": input_thread_text.val(),
    //               "thread_categories": input_thread_categories.val()
    //       },
    //       freeze: true,
    //       freeze_message: __("Updating thread..."),
    //       callback: function(r){
    //           if(!r.exc) {
    //               span_thread_text.removeClass('hide');
    //         input_thread_text.addClass('hide');

    //       input_thread_categories.parent().addClass('hide');
    //       div_thread_categories.removeClass('hide');

    //               toggle_buttons_edit_thread(threadname, 0);


    //       mnt.refresh_page_element('#threads #' + threadname + '-text');
    //       mnt.refresh_page_element('#threads #' + threadname + '-categories');
    //               // $('#threads #' + threadname + '-text').fadeOut();
    //               // $('#threads #' + threadname + '-text').parent().load(document.URL +  '#threads #' + threadname + '-text', function() {
    //               //  $('#threads #' + threadname + '-text').fadeIn();
    //               // });

    //           } else {
    //               frappe.msgprint(__("Thread was not updated. <br /> " + r.exc));
    //           }
    //       }
    //   });
    // });

    // $('#threads-parent').on('click', '[id$="cancel-edit-thread"]', function() {
    //     var threadname = $(this).attr('data-thread-key'); //Get context of Thread.
    //     //toggle_inputcontrols_edit_thread(threadname, 0);

    //     var span_thread_text = $('#' + threadname + '-text');
    //     var input_thread_text = $('#' + threadname + '-input-text');
    //     var input_thread_categories = $('#' + threadname + '-input-categories');
    //     var div_thread_categories = $('#' + threadname + '-categories');

    //     //input_thread_categories[0].selectize.lock();

    //     span_thread_text.removeClass('hide');
    //     input_thread_text.addClass('hide');
    //     input_thread_categories.parent().addClass('hide');
    //     div_thread_categories.removeClass('hide');

    //     toggle_buttons_edit_thread(threadname, 0);
    // });


});

</script>