<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <a class="btn btn-block btn-primary">New Post</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <div class="input-group">
        <input type="text" placeholder="Search forums" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="height:34px !important; margin-top: -5px;">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>{{ thread.th_thread_title }}
      <i class="fa fa-pencil"></i>
    </h3>
    <div>
    {% for category in thread.th_categories.split('+') %}
      <span class="label label-info">
        {{ category }}
      </span> &nbsp;
    {% endfor %}
    </div>
  </div>
</div>
<hr>
{% for post in posts %}
<div class="row">
  <div class="col-md-12">
    <h4>
      <a>{{post.pst_text}}</a>
      <i class="fa fa-pencil"></i>
    </h4>
  </div>
</div>
<hr>
{% endfor %}
<div class="row">
  <div class="col-md-12">
    <h4><a>Post Two</a>
      <i class="fa fa-pencil"></i>
    </h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<hr>



