<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <a class="btn btn-block btn-primary">New Post</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <div class="input-group">
        <input type="text" placeholder="Search forums" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" style="height:34px !important; margin-top: -5px;">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>{{ thread.th_thread_title }}
      <i class="fa fa-pencil"></i>
    </h3>
    <div>
    {% for category in thread.th_categories.split('+') %}
        {% if category  %}
            <span class="label label-info">
            {{ frappe.db.get_value('Forum Category',filters={'category_slug': category},fieldname = 'category_name') }}
            </span> &nbsp;
        {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
<hr>
{% for post in posts %}
<div class="row">
  <div class="col-md-12">
    <h4>
      <a>{{post.pst_text}}</a>
      <i class="fa fa-pencil"></i>
    </h4>
  </div>
</div>
<hr>
{% endfor %}




